body {
    background-image: url("imgs/bgjpg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
    font-family: sans-serif;
}

footer {
    color: white;
    text-align: center;
    background-color: #003B94;
    height: 11px;
    padding: 15px;
}

header {
    text-align: center;
    background-color: #003B94;
    color: white;
    height: 90px;
}

h1{
    padding: 10px;
    margin: 0;
    font-size: 4em;
}

.loginbutton {
    background:url("imgs/loginknop.png");
    cursor:pointer;
    width: 215px;
    height: 50px;
    border: none;
    margin: 10px;
}

.login {
    background-color: white;
    height: 660px;
    border: #32CD32;
    border-style: solid;
    border-width: 5px;
    max-width: 1260px;
    margin: 0 auto;
}

.form {
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    vertical-align: middle;

}

.form-group {
    margin: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-width: 300px;
    margin: 0 auto;
}
