body {
    background-image: url("imgs/bgjpg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
}

footer {
    color: white;
    text-align: center;
    background-color: #003B94;
    height: 11px;
    padding: 15px;
}

header {
    text-align: center;
    background-color: #003B94;
    color: white;
    height: 90px;
}

h1{
    padding: 10px;
    margin: 0;
    font-size: 4em;
}

.index {
    background-color: white;
    border: #32CD32;
    height: 660px;
    border-style: solid;
}
    border-width: 5px;
.login {
    background-color: white;
}

.loginButton {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3ed240), color-stop(1, #3ed240));
    background:-moz-linear-gradient(top, #3ed240 5%, #3ed240 100%);
    background:-webkit-linear-gradient(top, #3ed240 5%, #3ed240 100%);
    background:-o-linear-gradient(top, #3ed240 5%, #3ed240 100%);
    background:-ms-linear-gradient(top, #3ed240 5%, #3ed240 100%);
    background:linear-gradient(to bottom, #3ed240 5%, #3ed240 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3ed240', endColorstr='#3ed240',GradientType=0);
    background-color:#3ed240;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:15px 30px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
.admin {
    background-color: white;
    height: 660px;
    border: #32CD32;
    border-style: solid;
    border-width: 5px;
    max-width: 1260px;
    margin: 0 auto;
}

.form {
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    vertical-align: middle;

}

.body {
    background-color: #FFFFFF;
    height: 500px;
    border: 5px solid #3ED241;
}

.download {


}

.login1 {

}

hr {
    width: 30%;
}

.homepage {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}