body {
    /*background-image: url("imgs/bgjpg.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100%;*/
    background-color: #98c6ac;
    margin: 0 auto;
    font-family: sans-serif;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.circles li{
    position: absolute;
    display: inline;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(0,	133, 124, 0.4);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/*footer {*/
    /*color: white;*/
    /*text-align: center;*/
    /*background-color: #00857c;*/
    /*height: 30px;*/
    /*padding: 15px;*/
    /*position: fixed;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*width: 100%;*/

/*}*/


.footer-distributed{
    background-color: #00857c;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-size: 16px;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left{
    width: 40%;
}

.footer-distributed h3{
    color:  #ffffff;
    font-size: 36px;
    margin: 0;
}

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  white;
    text-decoration: none;;
}

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  white;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a img{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .copy {
    color: white;
    padding-top: 30px;
}

/*@media (max-width: 880px) {*/

    /*.footer-distributed{*/
        /*font: bold 14px sans-serif;*/
    /*}*/

    /*.footer-distributed .footer-left,*/
    /*.footer-distributed .footer-center,*/
    /*.footer-distributed .footer-right{*/
        /*display: block;*/
        /*width: 100%;*/
        /*margin-bottom: 40px;*/
        /*text-align: center;*/
    /*}*/

    /*.footer-distributed .footer-center i{*/
        /*margin-left: 0;*/
    /*}*/

/*}*/

header {
    text-align: center;
    background-color: #00857c;
    color: white;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
}

.logoimg {
    width: 30px;
    height: 30px;
    align-items: center;
    padding: 5px;
}

.rotate-diagonal-1 {
    -webkit-animation: rotate-diagonal-1 7s linear infinite both;
    animation: rotate-diagonal-1 7s linear infinite both;
    width: 70px;
    align-items: center;
}

@-webkit-keyframes rotate-diagonal-1 {
    0% {
        -webkit-transform: rotate3d(1, 1, 0, 0deg);
        transform: rotate3d(1, 1, 0, 0deg);
    }
    50% {
        -webkit-transform: rotate3d(1, 1, 0, -180deg);
        transform: rotate3d(1, 1, 0, -180deg);
    }
    100% {
        -webkit-transform: rotate3d(1, 1, 0, -360deg);
        transform: rotate3d(1, 1, 0, -360deg);
    }
}
@keyframes rotate-diagonal-1 {
    0% {
        -webkit-transform: rotate3d(1, 1, 0, 0deg);
        transform: rotate3d(1, 1, 0, 0deg);
    }
    50% {
        -webkit-transform: rotate3d(1, 1, 0, -180deg);
        transform: rotate3d(1, 1, 0, -180deg);
    }
    100% {
        -webkit-transform: rotate3d(1, 1, 0, -360deg);
        transform: rotate3d(1, 1, 0, -360deg);
    }
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

li a:hover {
    border: solid #18f2b2;
    cursor: pointer;
}

ul .nav-link {
    font-size: 1em;
    display: block;
    color: white;
    text-align: center;
    background: none;
    border: none;
    margin: 0;
    padding: 10px 16px;
    text-decoration: none;
}

ul .nav-link:hover {
    border: solid #18f2b2;
    cursor: pointer;
}

h1{
    padding: 15px;
    margin: 0px;
    font-size: 4em;
    text-align: left;
}

.homebutton {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.loginbutton {
    text-decoration: none;
    color: white;
    border: #18f2b2;
    border-style: solid;
    border-width: 5px;
    background-color: #18f2b2;
    border-radius: 10px;
    margin: 10px;
    font-size: 1em;
    cursor: pointer;

}

.login {
    background-color: white;
    height: 80vh;
    /*border: #32CD32;*/
    /*border-style: solid;*/
    /*border-width: 5px;*/
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    max-width: 1260px;
    margin: 0 auto;
}
.create {
    background-color: white;
    height: 80vh;
    /*border: #32CD32;*/
    /*border-style: solid;*/
    /*border-width: 5px;*/
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    max-width: 1260px;
    margin: 0 auto;
}
.form {
    text-align: center;
    margin: 0 auto;
    padding: 100px;
    margin: 0 auto;

}

.form-group {
    margin: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-width: 300px;
    margin: 0 auto;
}

.form-group label{
    margin: 5px;
}
.index {
    background-color: white;
    height: 80vh;
    /*border: #32CD32;*/
    /*border-style: solid;*/
    /*border-width: 5px;*/
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    max-width: 1260px;
    margin: 0 auto;
}

.teams {
    background-color: white;
    height: 80vh;
    /*border: #32CD32;*/
    /*border-style: solid;*/
    /*border-width: 5px;*/
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    max-width: 1260px;
    margin: 0 auto;
    text-align: center;
}

.indextext {
    text-align: center;
    margin: 0 auto;
    padding: 15px;
}

.home {
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    margin: 175px;
}

.homepage {
    background-color: white;
    height: 80vh;
    /*border: #32CD32;*/
    /*border-style: solid;*/
    /*border-width: 5px;*/
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    max-width: 1260px;
    margin: 0 auto;
}

.downloadpage {
    background-color: white;
    height: 80vh;
    /*border: #32CD32;*/
    /*border-style: solid;*/
    /*border-width: 5px;*/
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    max-width: 1260px;
    margin: 0 auto;
}

.download {
    text-align: center;
    margin: 0 auto;
    padding: 100px;
    margin: 0 auto;
}

.container {
    background-color: white;
    height: 80vh;
    /*border: #32CD32;*/
    /*border-style: solid;*/
    /*border-width: 5px;*/
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    max-width: 1260px;
    margin: 0 auto;
}

.register {
    text-align: center;
    margin: 0 auto;
    padding: 100px;
}

.adminpage {
    background-color: white;
    height: 80vh;
    /*border: #32CD32;*/
    /*border-style: solid;*/
    /*border-width: 5px;*/
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    max-width: 1260px;
    margin: 0 auto;
}

.admin {
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    margin: 162px;
}


.teammaker {
    text-align: center;
    margin: 0 auto;
    padding: 40px;
}

.teammaker input {
    margin: 5px;
}

.buttons1 {
    text-decoration: none;
    color: white;
    border: #18f2b2;
    border-style: solid;
    border-width: 5px;
    background-color: #18f2b2;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.95em;
}

.buttons {
    text-decoration: none;
    color: white;
    border: #18f2b2;
    border-style: solid;
    border-width: 5px;
    background-color: #18f2b2;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    font-size: 0.95em;
}

.buttonsr {
    text-decoration: none;
    color: white;
    border: #9e1505;
    border-style: solid;
    border-width: 5px;
    background-color: #9e1505;
    border-radius: 10px;
    cursor: pointer;
    width: 115px;
    font-size: 0.92em;
}

.buttonsr1 {
    text-decoration: none;
    color: white;
    border: #9e1505;
    border-style: solid;
    border-width: 5px;
    background-color: #9e1505;
    border-radius: 10px;
    cursor: pointer;
    width: 130px;
    font-size: 0.92em;
}

.buttonsb {
    text-decoration: none;
    color: white;
    border: #19698c;
    border-style: solid;
    border-width: 5px;
    background-color: #19698c;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    font-size: 0.95em;
}

.buttonsb1 {
    text-decoration: none;
    color: white;
    border: #19698c;
    border-style: solid;
    border-width: 5px;
    background-color: #19698c;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    font-size: 0.95em;
}

/*.afmeldbutton {*/
    /*text-decoration: none;*/
    /*color: white;*/
    /*border: #18f2b2;*/
    /*border-style: solid;*/
    /*border-width: 5px;*/
    /*background-color: #18f2b2;*/
    /*border-radius: 10px;*/
    /*cursor: pointer;*/
/*}*/

.teamedit {
    background-color: white;
    height: 80vh;
    /*border: #32CD32;*/
    /*border-style: solid;*/
    /*border-width: 5px;*/
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    max-width: 1260px;
    margin: 0 auto;
}

.editpage {
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 5px;
    width: 600px;
    column-gap: 0px;
    padding: 5px;
    margin: 10px auto
}

.hometext {
    max-width: 485px;
    margin: 30px auto;
    font-size: 1.2em;
}

.welkom {
    padding: 20px;
    padding-top: 70px;
}

.username {
    position: absolute;
    top: 100px;
    left: 170px;
}

.loginenregister {
    position: absolute;
    top: 100px;
    left: 150px;
}

.matchespage {
    background-color: white;
    height: 80vh;
    /*border: #32CD32;*/
    /*border-style: solid;*/
    /*border-width: 5px;*/
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    max-width: 1260px;
    margin: 0 auto;
}


.matches {
    text-align: center;
    margin: 0 auto;
    padding: 1px;
    border-collapse:separate;
    border-spacing:0 7px;
}

.marginm {
    text-align: center;
    margin: 60px;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    padding: 20px;
    margin: 0;
}

.td1 {
    border: solid #18f2b2;
    background-color: #18f2b2;
    border-width: 5px;
    border-radius: 10px;
    color: white;
}

.td2 {
    border: solid red;
    background-color: red;
    border-width: 5px;
    border-radius: 10px;
    color: white;
}

td, th {
    padding: 4px;
}

.mbutton {
    text-decoration: none;
    color: white;
    border: #18f2b2;
    border-style: solid;
    border-width: 5px;
    background-color: #18f2b2;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

.loading {

}

.teamslist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    width: 600px;
    column-gap: 0px;
    padding: 5px;
    margin: 10px auto
}

.myteams {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    width: 600px;
    column-gap: 0px;
    padding: 5px;
    margin: 10px auto
}

.teamname {
    text-decoration: none;
    color: #000;
    border: #18f2b2;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.teamplayerlist {
    text-align: center;
}

.bold {
    font-weight: bold;
}

#save {
    position: absolute;
    top: 100px;
    right: 145px;
}