body {
    background-image: url("imgs/bgjpg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
    font-family: sans-serif;
}

footer {
    color: white;
    text-align: center;
    background-color: #003B94;
    height: 41px;
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

header {
    text-align: center;
    background-color: #003B94;
    color: white;
    height: 90px;
}

h1{
    padding: 10px;
    margin: 0px;
    font-size: 4em;
}

.homebutton {
    text-decoration: none;
    color: white;
}

.loginbutton {
    text-decoration: none;
    color: white;
    border: #32CD32;
    border-style: solid;
    border-width: 5px;
    background-color: #32CD32;
    border-radius: 10px;
    margin: 10px;
    font-size: 1em;

}

.login {
    background-color: white;
    height: 100%;
    border: #32CD32;
    border-style: solid;
    border-width: 5px;
    max-width: 1260px;
    margin: 0 auto;
}
.create {
    background-color: white;
    height: 100%;
    border: #32CD32;
    border-style: solid;
    border-width: 5px;
    max-width: 1260px;
    margin: 0 auto;
    margin-bottom: 70px;
}
.form {
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    margin: 160px;

}

.form-group {
    margin: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-width: 300px;
    margin: 0 auto;
}

.form-group label{
    margin: 5px;
}
.index {
    background-color: white;
    height: 100%;
    border: #32CD32;
    border-style: solid;
    border-width: 5px;
    max-width: 1260px;
    margin: 0 auto;
}

.teams {
    background-color: white;
    height: 100%;
    border: #32CD32;
    border-style: solid;
    border-width: 5px;
    max-width: 1260px;
    margin: 0 auto;
    text-align: center;
}

.indextext {
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    margin: 120px;
}

.home {
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    margin: 175px;
}

.homepage {
    background-color: white;
    height: 100%;
    border: #32CD32;
    border-style: solid;
    border-width: 5px;
    max-width: 1260px;
    margin: 0 auto;
}

.container {
    background-color: white;
    height: 100%;
    border: #32CD32;
    border-style: solid;
    border-width: 5px;
    max-width: 1260px;
    margin: 0 auto;
}

.register {
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    margin: 122px;
}

.adminpage {
    background-color: white;
    height: 100%;
    border: #32CD32;
    border-style: solid;
    border-width: 5px;
    max-width: 1260px;
    margin: 0 auto;
}

.admin {
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    margin: 162px;
}


.teammaker {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 85px auto;
    padding: 15px;
}

.buttons {
    text-decoration: none;
    color: white;
    border: #32CD32;
    border-style: solid;
    border-width: 5px;
    background-color: #32CD32;
    border-radius: 10px;
}

.afmeldbutton {
    text-decoration: none;
    color: white;
    border: #32CD32;
    border-style: solid;
    border-width: 5px;
    background-color: #32CD32;
    border-radius: 10px;
    position: absolute;
    top: 30px;
    right: 35px;
}

.teamedit {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 85px auto;
    padding: 15px;
}

.hometext {
    max-width: 485px;
    margin: 30px auto;
}

.welkom {
    margin: 15px;
}

.loginenregister {
    position: absolute;
    top: 100px;
    left: 150px;
}